# Ignorer les fichiers inutiles de Godot et C#
.export/
.import/
*.import
*.log
*.tmp
*.mono/
*.cache/
bin/
obj/

# Ignorer les exécutables et fichiers temporaires
*.exe
*.dll
*.log
*.tmp
*.cache
*.zip
*.tar.gz
*.x86_64

Godot_v4.3-stable_mono_linux_x86_64*
